<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLDACTXDConnection"
			 connectionString="Server=.;
		Database=QLDACTXD;
		Integrated Security=True;
		MultipleActiveResultSets=True;
		TrustServerCertificate=True"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>